* {
 display: flex;
 box-sizing: border-box;
}


body{
  flex: none;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.top, .middle{
  background-color: lightgray;
  padding: 20px 0;
  width: 1000px;
  justify-content: center;
  color: darkolivegreen;
  font-size: 25px;
  font-weight: 50;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top{
  flex-direction: column;
  align-items: center;
}

.middle{
  flex: none;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridContainer{
  flex: none;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 5px solid white;
  border-radius: 5px;
  height: 800px;
  width: 800px;
  background-color: gray;
  box-shadow: 10px 10px;
}

.cell{
  display: flex;
  background-color: white;
  border: 2px solid black;
}

.dark{
  background-color: black;
  border: 2px solid black;
}


.footer{
  justify-content: center;
  align-items: center;
  background: #1F2937;
  color: white;
  padding: 70px;
  letter-spacing: 4px;
  width: 1000px;
}

button{
 background-color: teal;
 padding: 20px, 100px;
 margin: 30px;
 border-radius: 12px;
 font-size: 34px;
}
